@keyframes spinBall {
    0% {
        transform: translate(-50%, -50%) rotate(-90deg) translate(1350%);
    }
    100% {
        transform: translate(-50%, -50%) rotate(270deg) translate(1350%);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.wheel {
    position: absolute;
    width: 90%;
    height: 100%;
    object-fit: cover;
    animation: spin 10s linear infinite;
    z-index: 20;
}

.ball {
    position: absolute;
    width: 3%;
    left: 45%;
    top: 50%;
    translate: translate(-50%, -50%);
    animation: spinBall 2.5s linear infinite;
    z-index: 100;
}
